<div class="mt-5" style=" margin-left: 35%; margin-right:35%;">
    <div class="card border-info mb-3" style="max-width: 20rem;" fgid="11555">
        <div class="card-header fs-3 text-center" fgid="11561">Login</div>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username"
                        class="form-control" id="username"
                        formControlName="username"
                        autocomplete="off">
                        <div *ngIf="!username?.valid && username?.dirty " class="text-danger mt-2">
                            <div *ngIf="username.errors?.maxlength">Username cannot be more than 50 characters</div>
                           <div *ngIf="username.errors?.minlength">Minimum characters for username is 6</div>
                           <div *ngIf="username.errors?.required">Username is required</div>
                           <div *ngIf="username.errors?.pattern">Username should be alphanumeric only</div>
                         </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" 
                        name="password" id="password"
                        formControlName="password"
                        autocomplete="off">
                        <div *ngIf="!password.valid && password?.dirty" class="text-danger mt-2">
                            <div *ngIf="password.errors?.minlength">Minimum characters for password is 6</div>
                            <div *ngIf="password.errors?.maxlength">Password cannot be more than 55 characters</div>
                            <div *ngIf="password.errors?.required">Password is required</div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="aligncenter">
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary form-control"  fgid="7993">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>