<div class="mt-5" style=" margin-left: 35%; margin-right:35%;">
    <div class="card border-info mb-3" style="max-width: 20rem;" fgid="11555">
        <div class="card-header fs-3 text-center" fgid="11561">Transfer Money</div>
        <div class="card-body">
            <form [formGroup]="transferForm" (ngSubmit)="handleTransaction()">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="receiveraccounholdernumber" class="form-label">ReceiverCustomerId</label>
                        <input type="number" class="form-control"
                        name="receiveraccounholdernumber"
                        id="receiveraccounholdernumber"
                        autocomplete="off"
                        formControlName="receiveraccounholdernumber">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="receiverbic" class="form-label">ReceiverBIC</label>
                        <input type="text" class="form-control"
                        id="receiverbic"
                        name="receiverbic"
                        formControlName="receiverbic"
                        autocomplete="off">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="currencyamount" class="form-label">Amount</label>
                        <input type="number" class="form-control"
                        id="currencyamount"
                        name="currencyamount"
                        formControlName="currencyamount"
                        autocomplete="off">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="transferfees" class="form-label">Transfer Fees</label>
                        <input type="number" class="form-control"
                        id="transferfees"
                        name="transferfees"
                        formControlName="transferfees"
                        autocomplete="off"
                        readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="message" class="form-label">Message Code</label>
                        <select name="" id="">
                            
                        </select>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>