<div>

    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card text-white bg-success" style="max-width: 20rem;
            cursor: pointer;" routerLink="editprofile" fgid="9193">
                <div class="card-header" fgid="9199">Profile</div>
                <div class="card-body" fgid="9206">
                    <h4 class="card-title" fgid="9212">View/Edit Profile</h4>
                    <p class="card-text" fgid="9219">A Customer can view his profile and Edit 
                        his profile
                    </p>     
                </div>
            </div>
            <div class="card text-white bg-danger mt-3" style="max-width: 20rem;" fgid="9193">
                <div class="card-header" fgid="9199">Header</div>
                <div class="card-body" fgid="9206">
                    <h4 class="card-title" fgid="9212">Info card title</h4>
                    <p class="card-text" fgid="9219">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>