<nav class="navbar navbar-expand-lg navbar-dark bg-primary" fgid="19168">
    <div class="container-fluid" fgid="19174">
      <a class="navbar-brand" href="#" fgid="19180">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01" fgid="19187">
        <ul class="navbar-nav me-auto" fgid="19193">
           <app-navitems *ngFor="let item of itemslist" [item]="item"></app-navitems>

          <div class="dropdown" style="margin-right: 0px;">
            <a class="dropdown-toggle"  id="dropdownMenuButton1" data-bs-toggle="dropdown" 
            aria-expanded="false" style="cursor: pointer;">
            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
          </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Profile</a></li>
            </ul>
          </div>
        </ul>    
      </div>
    </div>
</nav>
